// Colors 

// Brand 
$brand: #1541C4;

// Grays 
$anti-flash-white: #F1F1F1;
$timber-wolf: #D3D3D3;
$silver: #AFAFAF;
$gray: #7C7C7C;
$jet: #343434;
$eerue0-black: #202020;

// Surfaces 
$surface: #FFFEEF;

// Primitives
$blacked_out: #161613;







// Typography

$font_stack: 'Inter', 'Helvetica', Arial, sans-serif;

